<div class="container relative flex flex-col">
  <h1 class="text-4xl font-bold pl-10">Qui participe ?</h1>
  <div class="flex flex-col gap-4">
    <div class="max-h-[60svh] overflow-y-auto">
      <div appAutoAnimate class="flex flex-col gap-1">
        <app-add-list-item (usernameChange)="username = $event">
          <div
            class="flex items-center cursor-pointer"
            (click)="addParticipant()"
          >
            <button
              class="flex items-center justify-center rounded-xl w-[40pt] h-[40pt] text-3xl bg-orange-500 text-white mx-2"
              matTooltip="Ajouter un participant"
            >
              <lucide-icon name="user-round-plus"></lucide-icon>
            </button>
          </div>
        </app-add-list-item>
        @for (participant of participants(); track participant) {
        <app-list-item [name]="participant" [index]="$index"></app-list-item>
        }
      </div>
    </div>
  </div>
</div>
<div class="bottom-0 flex justify-center w-full">
  <button
    class="rounded-lg py-2 px-4 h-[70pt] w-[80%] text-white bg-orange-500 text-3xl my-5"
    (click)="startGame()"
  >
    Commencer la partie
  </button>
</div>
