<div class="flex flex-col items-center h-screen">
  <img src="titou/logo.png" class="max-w-[250pt]" />
  <button
    class="rounded-lg py-2 px-4 h-[100pt] bg-orange-500 w-[80%] text-white text-3xl my-5"
    routerLink="/lobby"
  >
    Commencer la partie
  </button>
  <button
    class="rounded-lg py-2 px-4 h-[70pt] bg-black w-[80%] text-white text-3xl my-5"
    routerLink="/rules"
  >
    Je veux juste les règles
  </button>
  <a
    class="w-full flex justify-center"
    href="https://drive.usercontent.google.com/download?id=1cBuDzoPSGzdTqsiFbln3w9CY1tH-kR7o&export=download&authuser=0&confirm=t&uuid=932a33a4-6881-4589-a71c-9bcc1d278a9a&at=APvzH3qH2p7XxIUlVlv_2bvdymx1%3A1735430752154"
    target="_blank"
  >
    <button
      class="rounded-lg py-2 px-4 h-[70pt] bg-black w-[80%] text-white text-3xl my-5"
    >
      Télécharger l'app (android)
    </button>
  </a>
</div>
