<div class="flex header w-full h-[10svh] justify-between px-5">
  <button
    (click)="goBack()"
    class="my-2 flex items-center justify-center rounded-xl w-[40pt] h-[40pt] text-3xl bg-orange-500 text-white"
  >
    <lucide-icon name="chevron-left"></lucide-icon>
  </button>
  <button
    (click)="onClickSettings()"
    class="my-2 flex items-center justify-center rounded-xl w-[40pt] h-[40pt] text-3xl bg-orange-500 text-white"
  >
    <lucide-icon name="settings"></lucide-icon>
  </button>
</div>
